body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.navbar {

    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;


   

}

#Header{
    background-image: url(../img/img5.jpg);
    background-position: center;
    background-size: cover;
}

footer a:hover{

    color:rgb(13, 13, 81)
}

#work{
    background-color: rgba(80, 172, 248, 0.95);
}
